@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-base;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: $color-bg;
}
